<div class="footer">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div>
                    <ul class="list-inline">
                        <li><a href="{{ path('main') }}">Главная</a></li>
                        <li><a href="{{ path('demo') }}">Пробный урок</a></li>
                        <li><a href="{{ path('group') }}">Групповые занятия</a></li>
                        <li><a href="{{ path('individually') }}">Индивидуальное обучение</a></li>
                        {#<li><a href="{{ path('tests') }}">Подготовка к тестам</a></li>#}
                        <li><a href="{{ path('it') }}">Английский для ІТ</a></li>
                        <li><a href="{{ path('zno') }}">Подготовка к ВНО (ЗНО)</a></li>
                        {#<li role="separator" class="divider"></li>#}
                        {#<li role="separator" class="divider"></li>#}
                        {#<li><a href="{{ path('business') }}">IT и Business английский</a></li>#}
                        {#<li role="separator" class="divider"></li>#}
                        <li><a href="{{ path('test') }}">Online-тест</a></li>
                        <li><a href="{{ path('speaker') }}">Speaking Club</a></li>
                        <li><a href="{{ path('contacts') }}">Контакты</a></li>
                        {#<li><a href="/">Maldena English Club</a></li>#}
                        <li>&copy; 2016</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
