<div class="templatemo-top-menu stuckMenu">
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a href="/">
                            <img class="img-responsive" src="web/client/images/logo.png" alt="Maldena English Club">
                        </a>
                        <div class="phone-mobile">{{ phone2 }}</div>
                    </div>
                </div>
                <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                        {#<li{% if action == 'main' %} class="active"{% endif %}>#}
                            {#<a href="{{ path('main') }}">Главная</a>#}
                        {#</li>#}
                        <li{% if action == 'test' %} class="active"{% endif %}>
                            <a href="{{ path('test') }}">Online-тест</a>
                        </li>
                        <li{% if action == 'demo' %} class="active"{% endif %}>
                            <a href="{{ path('demo') }}">Пробный урок</a>
                        </li>
                        <li class="dropdown{% if action == 'services' %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Виды обучения <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('group') }}">Групповые занятия</a></li>
                                <li><a href="{{ path('individually') }}">Индивидуальные занятия</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('tests') }}">Международные тесты</a></li>
                                <li><a href="{{ path('it') }}">Английский для ІТ</a></li>
                                {#<li><a href="{{ path('zno') }}">Подготовка к ЗНО</a></li>#}
                                {#<li role="separator" class="divider"></li>#}
                                {#<li><a href="{{ path('business') }}">IT и Business английский</a></li>#}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('speaker') }}">Speaking Club</a></li>
                            </ul>
                        </li>
                        {#<li{% if action == 'services' %} class="active"{% endif %}>#}
                            {#<a href="{{ path('services') }}">Услуги</a>#}
                        {#</li>#}
                        <li{% if action == 'contacts' %} class="active"{% endif %}>
                            <a href="{{ path('contacts') }}">Контакты</a>
                        </li>
                        <li><a class="phone" href="#"><strong>{{ phone }}</strong></a></li>
                        {#<li><a href="#"><strong>skype: maldena_vn</strong></a></li>#}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </div>
        <!--/.navbar -->
    </div>
    <!-- /container -->
</div>
