<!DOCTYPE html>
<html lang="en">
{% include "./partials/head.twig" %}
<body>
{% block content %}{% endblock %}
<div id="templatemo-top"></div>
<div class="templatemo-top-menu stuckMenu">
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <img class="img-responsive" src="web/client/images/logo/logo.png" alt="Maldena English Club">

                        <div class="phone-mobile">{{ phone }}</div>
                    </div>
                </div>
                <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                        <li class="active"><a href="#templatemo-top">Главная</a></li>
                        <li><a href="#templatemo-about">Услуги</a></li>
                        <li><a href="#templatemo-contact">Контакты</a></li>
                        <li><a class="phone" href="#"><strong>{{ phone }}</strong></a></li>
                        <li><a href="#"><strong>skype: maldena_vn</strong></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </div>
        <!--/.navbar -->
    </div>
    <!-- /container -->
</div>
<div>
    <!-- Carousel -->
    <div id="carousel" class="carousel slide pc-view" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/web/client/images/carousel/fightclub.png" class="img-responsive center-block"/>

                <div class="carousel-caption logo-text">
                    <h2>Английский расширит круг общения</h2>

                    <p>Вы сможете узнавать новости со всего мира и общаться с очень разными людьми</p>
                    <a class="btn btn-lg btn-orange" href="#">Speaker club</a>
                </div>
            </div>
            <div class="item">
                <img src="/web/client/images/carousel/godfather.png" class="img-responsive center-block"/>

                <div class="carousel-caption logo-text">
                    <h2>Нужен английский по работе?</h2>

                    <p>С опытными преподавателями подтяните свой уровень профессионального английского</p>
                    <a class="btn btn-lg btn-orange" href="#">Подробнее</a>
                </div>
            </div>
            <div class="item logo-text">
                <img src="/web/client/images/carousel/borat.png" class="img-responsive center-block"/>

                <div class="carousel-caption logo-text">
                    <h2>Предстоит поездка за границу?</h2>

                    <p>Поможем чувствовать себя уверенно в общении с иностранцами</p>
                    <a class="btn btn-lg btn-orange" href="#">Подробнее</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /#templatemo-carousel -->
</div>

<div id="templatemo-welcome" class="pc-view">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <h2 class="txt_darkgrey">Обучение английскому языку</h2>

            <p class="txt_slogan"><i>Поможем стать еще лучше в вашей профессии</i></p>
        </div>
    </div>
</div>


<div id="templatemo-about" class="pc-view">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header container pc-view">
                <div class="text-center row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h2><strong>Индивидуальное
                                обучение</strong>
                        </h2></div>
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
            <div class="templatemo-line-header container mobile-view">
                <div class="text-center row">
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-xs-6"><h2>Индивидуальное обучение</h2></div>
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="container pc-view">
    <div>
        <p>
            Приходя к нам вы говорите в какой именно сфере вам необходимо повысить знания языка и мы будем
            работать
            в
            этом направлении.
            Попутно наши опытные преподаватели будут находить узкие места в ваших знаниях(если они будут) и
            исправлять
            их.
        </p>

        <p>
            Мы сможем помочь в любой ситуации где необходимы знания языка, представим лишь некоторые из них:
        </p>

        <ul>
            <li>
                <p>
                    IT сфера. Вы работаете или собираетесь работать в IT сфере и вам нужны дополнительные навыки
                    и
                    знания
                    английского языка? Мы сможем вам помочь разобраться и заполнить недостающие пробелы в ваших
                    знаниях.
                </p>
            </li>
            <li>
                <p>
                    Вам предстоит поездка за рубеж, а вы не уверенны в своих знаниях. За довольно недолгий срок
                    мы
                    поможем
                    вам чувствовать себя уверенно в большинстве ситуаций при интенсивных занятиях, где у вас
                    появится навык
                    говорить и понимать.
                </p>
            </li>
            <li>
                <p>
                    Написание резюме, подготовка к собеседованиям в посольстве, при поступлении на работу.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="pc-view">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header container pc-view">
                <div class="text-center row">
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h2><strong>Групповые занятия</strong></h2>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
            <div class="templatemo-line-header container mobile-view">
                <div class="text-center row">
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-xs-6"><h2>Групповые занятия</h2></div>
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="">
            <p>
                В наших группах не более 5 человек, что поможет преподавателю подобрать методику и интерактивные
                методы
                для оптимальной подачи материала ,учитывая индивидуальные способности и возможности каждого
                студента.
                Большую часть времени мы уделяем практической части обучения( разговорная практика),
                грамматическая
                часть подается в миниграммах, что облегчает обучение и делает структуру языка понятной даже для
                начинающих.
            </p>

            <p>
                Мы проводим обучения с учетом многолетнего опыта и наблюдения по современным программам и
                новейшим
                методикам, которые при систематическом занятии помогут улучшить память, развить логическое
                мышление,
                научат фокусировать внимание. Преподаватели ориентированы на работу со слушателями с аудиальным,
                кинестетическим и визуальным преобладающим восприятием,
                что является индивидуальным подходом к способностям каждого.
            </p>

            <p>
                Группы делятся на несколько направлений:
            </p>

            <ul>
                <li>
                    <p>
                        Обучение в сфере IT. Большая часть программы направлена на то, чтобы вы могли свободно
                        себя
                        чувствовать в этой сфере при общении с иностранными клиентами, переписке, прочтении
                        специальной
                        литературы на английском языке. Обучение проводится как по технической части, так и для
                        умения
                        участвовать в повседневном общении на английском языке в рабочей среде.
                    </p>
                </li>
                <li>
                    <p>
                        Общий английский. Программа направлена на знание и использование ситуативной лексики в
                        повседневной
                        жизни для поездок за границу(туризм, общение с членами семьи, друзьями-иностранцами).
                    </p>
                </li>
                <li>
                    <p>
                        Бизнес-английский. Знания, которого вам понадобится для работы с иностранными коллегами
                        или
                        клиентами, при деловой переписке,ведении переговоров.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="mobile-view container main-block">
    <div>
        <p>Похоже что вы с мобильного, по этому не буду тратить ваше время. У нас есть такие <b>виды обучения</b>: </p>
        <ul>
            <li><strong>Групповые и индивидуальные</strong></li>
            <li><strong>Базовый английский и профессиональный</strong>. Поможем подтянуть ваш технический английский в практически любой профессии. Так же английский для бизнеса</li>
            <li>Помощь с поездками за рубеж</li>
        </ul>
   </div>
    <div>
        <p>О наших плюсах и минусах и почему стоит выбрать именно наши курсы английского языка.</p>
        <p>Плюсы:</p>
        <ul>
            <li><strong>Удобное расположения школы</strong>. Самый центр города в двух минутах ходьбы от башни, возле пиццерии New York Pizza</li>
            <li><strong>Профессиональные преподаватели</strong>. Все учителя имеют опыт роботы, профильное образование и что самое главное любят обучать людей новому</li>
            <li>Мы будем работать на ваш результат. У нас нет 6 курсов по 6 месяцев каждый. Вы говорите какой ожидаете результат и на основании ваших знаний мы будем строить план обучения</li>
            <li>Если вы планируете учится в группе, то кроме вас там будет ещё максимум четыре студента. Урок будет длится 1,5 часа и за это время учитель успевает оказывать должное внимание каждому ученику</li>
        </ul>
        <p>Минусы:</p>
        <ul>
            <li>Первый этаж и окна выходят в центр города, иногда немного слышно уличных музыкантов. Нет, это не предоставит большие не удобства. Но иногда музыка играет</li>
            <li>Мы ценим комфорт и хотим сделать комфортным обучение, по этому кофе, чай мы предоставляем каждому студенту при его желании. Это может занимать немного времени</li>
            <li>Слишком симпатичные преподаватели. Без комментариев :)</li>
        </ul>
        <p>
            Как вы поняли я немного лукавил когда говорил о минусах. Конечно они у нас есть и если вы укажите нам на них то мы обязательно их исправим
        </p>
    </div>
    <div>
        <p>
            <strong>Условия:</strong>
        </p>
        <ul>
            <li>Индивидуальное занятие - 1 час, два-три раза в неделю, цена от 120 грн.</li>
            <li>Групповые занятия(не больше 5 человек) - 1.5 часа, два-три раза в неделю, цена от 80 грн.</li>
        </ul>
        <p>Для детей цены ниже</p>
        <p><strong>Звоните или пишите</strong> нам и наш клиент-менеджер Сергей ответит на все ваши вопросы. Как связаться:</p>
        <ul>
            <li>Телефон: <strong>{{ phone }}</strong></li>
            <li>Skype: {{ skype }}</li>
            <li>E-mail: {{ email }}</li>
        </ul>
    </div>
</div>

<div class="clearfix"></div>
<div id="templatemo-contact">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header container pc-view">
                        <div class="text-center row">
                            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <hr class="hr_gray"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h2><strong>Наши контакты</strong></h2>
                            </div>
                            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <hr class="hr_gray"/>
                            </div>
                        </div>
                    </div>
                    <div class="templatemo-line-header container mobile-view">
                        <div class="text-center row">
                            <div class="col-xs-3">
                                <hr class="hr_gray"/>
                            </div>
                            <div class="col-xs-6"><h2>Наши контакты</h2></div>
                            <div class="col-xs-3">
                                <hr class="hr_gray"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="templatemo-contact-map pc-view" id="map-canvas"></div>
                <div class="clearfix"></div>
                <i>{{ city }}, {{ address }}, тел. {{ phone }}</i>
            </div>
            <div class="col-md-4 contact_right">
                <p>Наш офис находится по адресу:</p>

                <p><img src="web/client/images/location.png" alt="icon 1"/>{{ city }}, {{ address }}</p>

                <p><img src="web/client/images/phone1.png" alt="icon 2"/>{{ phone }}</p>

                <p>Вы можете задать нам вопрос используя форму ниже:</p>

                <form class="form-horizontal" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control js-app-feedback-name" placeholder="Имя"/>

                        <div style="display: none;" class="help-block js-app-feedback-message-name"></div>
                    </div>
                    <div class="form-group">
                        Я хочу получить ответ на:
                    </div>
                    <div class="form-group js-feedback-radio">
                        <input type="radio" name="answer" data-type="phone" checked="checked"> Телефон
                        <input type="radio" name="answer" data-type="email"> E-mail
                    </div>
                    <div class="form-group">
                        <input type="phone" class="form-control js-app-feedback-phone" placeholder=""/>

                        <div style="display: none;" class="help-block js-app-feedback-message-phone"></div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <input type="email" class="form-control js-app-feedback-email" placeholder="E-mail"/>

                        <div style="display: none;" class="help-block js-app-feedback-message-email"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control js-app-feedback-text" style="height: 130px;"
                                  placeholder="Ваше сообщение"></textarea>

                        <div style="display: none;" class="help-block js-app-feedback-message-text"></div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;"
                             class="help-block js-app-feedback-message-response alert alert-success">Ваше сообщение
                            успешно отправлено. Мы с Вами свяжемся в течении часа
                        </div>
                    </div>
                    <button type="button" class="js-app-feedback-button btn btn-orange pull-right">Отправить
                    </button>
                </form>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#templatemo-contact -->


<div class="templatemo-footer">
    <div class="container">
        <div class="row">
            <div class="text-center">

                <div class="footer_container">
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <span class="social-icon-fb"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-rss"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="social-icon-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="height30"></div>
                    <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">На вверх</a></a>
                    <div class="height30"></div>
                </div>
                <div class="footer_bottom_content">
                    Copyright © 2015 <a href="#">Maldena English Club</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="web/client/js/jquery.min.js" type="text/javascript"></script>
<script src="web/client/js/underscore-min.js" type="text/javascript"></script>
<script src="web/client/js/bootstrap.js" type="text/javascript"></script>
<script src="web/client/js/stickUp.min.js" type="text/javascript"></script>
<script src="web/client/js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="web/client/js/templatemo_script.js" type="text/javascript"></script>
<script src="web/client/js/jquery.mask.js" type="text/javascript"></script>
<script src="web/client/js/app.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        app.init();
    });
</script>
<!-- End SiteHeart code -->
<!-- Start google analytics code -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68983739-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- End google analytics code -->

<!-- Start SiteHeart code -->
<script>
    (function(){
        var widget_id = 815797;
        _shcp =[{widget_id : widget_id}];
        var lang =(navigator.language || navigator.systemLanguage
        || navigator.userLanguage ||"en")
                .substr(0,2).toLowerCase();
        var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
        var hcc = document.createElement("script");
        hcc.type ="text/javascript";
        hcc.async =true;
        hcc.src =("https:"== document.location.protocol ?"https":"http")
        +"://"+ url;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
    })();
</script>
<!-- End SiteHeart code -->
</body>
</html>
