{% extends "layouts/main.twig" %}


{% block content %}

{% include "./partials/carousel.twig" %}

<div id="templatemo-welcome" class="pc-view">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <h2 class="txt_darkgrey">Обучение английскому языку</h2>

            <p class="txt_slogan"><i>Поможем стать еще лучше в вашей профессии</i></p>
        </div>
    </div>
</div>


<div id="templatemo-about" class="pc-view">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header container pc-view">
                <div class="text-center row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h2><strong>Индивидуальное
                                обучение</strong>
                        </h2></div>
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
            <div class="templatemo-line-header container mobile-view">
                <div class="text-center row">
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-xs-6"><h2>Индивидуальное обучение</h2></div>
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="container pc-view">
    <div>
        <p>
            Приходя к нам вы говорите в какой именно сфере вам необходимо повысить знания языка и мы будем
            работать
            в
            этом направлении.
            Попутно наши опытные преподаватели будут находить узкие места в ваших знаниях(если они будут) и
            исправлять
            их.
        </p>

        <p>
            Мы сможем помочь в любой ситуации где необходимы знания языка, представим лишь некоторые из них:
        </p>

        <ul>
            <li>
                <p>
                    IT сфера. Вы работаете или собираетесь работать в IT сфере и вам нужны дополнительные навыки
                    и
                    знания
                    английского языка? Мы сможем вам помочь разобраться и заполнить недостающие пробелы в ваших
                    знаниях.
                </p>
            </li>
            <li>
                <p>
                    Вам предстоит поездка за рубеж, а вы не уверенны в своих знаниях. За довольно недолгий срок
                    мы
                    поможем
                    вам чувствовать себя уверенно в большинстве ситуаций при интенсивных занятиях, где у вас
                    появится навык
                    говорить и понимать.
                </p>
            </li>
            <li>
                <p>
                    Написание резюме, подготовка к собеседованиям в посольстве, при поступлении на работу.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="pc-view">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header container pc-view">
                <div class="text-center row">
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h2><strong>Групповые занятия</strong></h2>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
            <div class="templatemo-line-header container mobile-view">
                <div class="text-center row">
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                    <div class="col-xs-6"><h2>Групповые занятия</h2></div>
                    <div class="col-xs-3">
                        <hr class="hr_gray"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="">
            <p>
                В наших группах не более 5 человек, что поможет преподавателю подобрать методику и интерактивные
                методы
                для оптимальной подачи материала ,учитывая индивидуальные способности и возможности каждого
                студента.
                Большую часть времени мы уделяем практической части обучения( разговорная практика),
                грамматическая
                часть подается в миниграммах, что облегчает обучение и делает структуру языка понятной даже для
                начинающих.
            </p>

            <p>
                Мы проводим обучения с учетом многолетнего опыта и наблюдения по современным программам и
                новейшим
                методикам, которые при систематическом занятии помогут улучшить память, развить логическое
                мышление,
                научат фокусировать внимание. Преподаватели ориентированы на работу со слушателями с аудиальным,
                кинестетическим и визуальным преобладающим восприятием,
                что является индивидуальным подходом к способностям каждого.
            </p>

            <p>
                Группы делятся на несколько направлений:
            </p>

            <ul>
                <li>
                    <p>
                        Обучение в сфере IT. Большая часть программы направлена на то, чтобы вы могли свободно
                        себя
                        чувствовать в этой сфере при общении с иностранными клиентами, переписке, прочтении
                        специальной
                        литературы на английском языке. Обучение проводится как по технической части, так и для
                        умения
                        участвовать в повседневном общении на английском языке в рабочей среде.
                    </p>
                </li>
                <li>
                    <p>
                        Общий английский. Программа направлена на знание и использование ситуативной лексики в
                        повседневной
                        жизни для поездок за границу(туризм, общение с членами семьи, друзьями-иностранцами).
                    </p>
                </li>
                <li>
                    <p>
                        Бизнес-английский. Знания, которого вам понадобится для работы с иностранными коллегами
                        или
                        клиентами, при деловой переписке,ведении переговоров.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="mobile-view container main-block">
    <div>
        <p>Похоже что вы с мобильного, по этому не буду тратить ваше время. У нас есть такие <b>виды обучения</b>: </p>
        <ul>
            <li><strong>Групповые и индивидуальные</strong></li>
            <li><strong>Базовый английский и профессиональный</strong>. Поможем подтянуть ваш технический английский в
                практически любой профессии. Так же английский для бизнеса
            </li>
            <li>Помощь с поездками за рубеж</li>
        </ul>
    </div>
    <div>
        <p>О наших плюсах и минусах и почему стоит выбрать именно наши курсы английского языка.</p>

        <p>Плюсы:</p>
        <ul>
            <li><strong>Удобное расположения школы</strong>. Самый центр города в двух минутах ходьбы от башни, возле
                пиццерии New York Pizza
            </li>
            <li><strong>Профессиональные преподаватели</strong>. Все учителя имеют опыт роботы, профильное образование и
                что самое главное любят обучать людей новому
            </li>
            <li>Мы будем работать на ваш результат. У нас нет 6 курсов по 6 месяцев каждый. Вы говорите какой ожидаете
                результат и на основании ваших знаний мы будем строить план обучения
            </li>
            <li>Если вы планируете учится в группе, то кроме вас там будет ещё максимум четыре студента. Урок будет
                длится 1,5 часа и за это время учитель успевает оказывать должное внимание каждому ученику
            </li>
        </ul>
        <p>Минусы:</p>
        <ul>
            <li>Первый этаж и окна выходят в центр города, иногда немного слышно уличных музыкантов. Нет, это не
                предоставит большие не удобства. Но иногда музыка играет
            </li>
            <li>Мы ценим комфорт и хотим сделать комфортным обучение, по этому кофе, чай мы предоставляем каждому
                студенту при его желании. Это может занимать немного времени
            </li>
            <li>Слишком симпатичные преподаватели. Без комментариев :)</li>
        </ul>
        <p>
            Как вы поняли я немного лукавил когда говорил о минусах. Конечно они у нас есть и если вы укажите нам на них
            то мы обязательно их исправим
        </p>
    </div>
    <div>
        <p>
            <strong>Условия:</strong>
        </p>
        <ul>
            <li>Индивидуальное занятие - 1 час, два-три раза в неделю, цена от 120 грн.</li>
            <li>Групповые занятия(не больше 5 человек) - 1.5 часа, два-три раза в неделю, цена от 80 грн.</li>
        </ul>
        <p>Для детей цены ниже</p>

        <p><strong>Звоните или пишите</strong> нам и наш клиент-менеджер Сергей ответит на все ваши вопросы. Как
            связаться:</p>
        <ul>
            <li>Телефон: <strong>{{ phone }}</strong></li>
            <li>Skype: {{ skype }}</li>
            <li>E-mail: {{ email }}</li>
        </ul>
    </div>
</div>

<div class="clearfix"></div>
<div id="templatemo-contact">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header container pc-view">
                        <div class="text-center row">
                            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <hr class="hr_gray"/>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><h2><strong>Наши контакты</strong></h2>
                            </div>
                            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <hr class="hr_gray"/>
                            </div>
                        </div>
                    </div>
                    <div class="templatemo-line-header container mobile-view">
                        <div class="text-center row">
                            <div class="col-xs-3">
                                <hr class="hr_gray"/>
                            </div>
                            <div class="col-xs-6"><h2>Наши контакты</h2></div>
                            <div class="col-xs-3">
                                <hr class="hr_gray"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="templatemo-contact-map pc-view" id="map-canvas"></div>
                <div class="clearfix"></div>
                <i>{{ city }}, {{ address }}, тел. {{ phone }}</i>
            </div>
            <div class="col-md-4 contact_right">
                <p>Наш офис находится по адресу:</p>

                <p><img src="web/client/images/location.png" alt="icon 1"/>{{ city }}, {{ address }}</p>

                <p><img src="web/client/images/phone1.png" alt="icon 2"/>{{ phone }}</p>

                <p>Вы можете задать нам вопрос используя форму ниже:</p>

                <form class="form-horizontal" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control js-app-feedback-name" placeholder="Имя"/>

                        <div style="display: none;" class="help-block js-app-feedback-message-name"></div>
                    </div>
                    <div class="form-group">
                        Я хочу получить ответ на:
                    </div>
                    <div class="form-group js-feedback-radio">
                        <input type="radio" name="answer" data-type="phone" checked="checked"> Телефон
                        <input type="radio" name="answer" data-type="email"> E-mail
                    </div>
                    <div class="form-group">
                        <input type="phone" class="form-control js-app-feedback-phone" placeholder=""/>

                        <div style="display: none;" class="help-block js-app-feedback-message-phone"></div>
                    </div>
                    <div class="form-group" style="display: none;">
                        <input type="email" class="form-control js-app-feedback-email" placeholder="E-mail"/>

                        <div style="display: none;" class="help-block js-app-feedback-message-email"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control js-app-feedback-text" style="height: 130px;"
                                  placeholder="Ваше сообщение"></textarea>

                        <div style="display: none;" class="help-block js-app-feedback-message-text"></div>
                    </div>
                    <div class="form-group">
                        <div style="display: none;"
                             class="help-block js-app-feedback-message-response alert alert-success">Ваше сообщение
                            успешно отправлено. Мы с Вами свяжемся в течении часа
                        </div>
                    </div>
                    <button type="button" class="js-app-feedback-button btn btn-orange pull-right">Отправить
                    </button>
                </form>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#templatemo-contact -->

{% endblock %}

