{% extends "layouts/admin.twig" %}

{% set selected = 'test' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{ path('/admin/user/test') }}">Клиенты</a>
            <i class="icon-angle-right"></i>
            <a href="{{ path('/admin/user/test') }}">Тесты</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

{% if app.session.getFlashBag.get('testListChangeSuccessful') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong> Статус успешно изменён.
    </div>
{% endif %}
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon user"></i><span class="break"></span>Прошедшие тест на сайте</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content" style="display: block;">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                {% if tests %}
                <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable"
                       id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                    <thead>
                    <tr>
                        <th>
                            Имя
                        </th>
                        <th>
                            Контакт
                        </th>
                        <th>
                            Цели обучения
                        </th>
                        <th>
                            Статуc
                        </th>
                        <th>
                            Уровень
                        </th>
                        <th>
                            Комментарий преподавателя
                        </th>
                        <th>
                            Дата прохождения
                        </th>
                        <th>
                            Ссылка на тест
                        </th>
                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    {% for test in tests %}
                        <tr class="odd">
                            <td class=" sorting_1">{{ test.user.name }}</td>
                            <td class="center ">
                                {{ test.user.phone ? test.user.phone  : test.user.email }}
                            </td>
                            <td class="center ">{{ test.goals }}</td>
                            <td class="center ">
                                <span class="label{% if test.status == 1 %} label-success{% else %} label-important{% endif %}">
                                    {% if test.status == 1 %}
                                        Проверено
                                    {% else %}
                                        Ожидает проверки
                                    {% endif %}
                                </span>
                            </td>
                            <td class="center ">
                                {{ test.textLevel }}
                            </td>
                            <td class="center ">
                                {{ test.comment }}
                            </td>
                            <td class="center">
                                {{ test.createdAt|date("F j, H:m") }}
                            </td>
                            <td class="center ">
                               <a href="{{ path('/admin/user/test/result', {testId: test.id}) }}">Перейти</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row-fluid">
                </div>
                {%  else %}
                    <div class="priority high">
                        <span>Пока нет клиентов которые прошли тест</span>
                    </div>

                {% endif %}

                {% include "./partials/admin/paginator.twig" with {'path': '/admin/user/test'} %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

